
.bg-def 
{
  background-image: url(images/bgfinale.jpg);
  
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.bgwhite {
  background-color: white;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.level-author{
  font-style: italic;
}

.level-points-badge{
  font-size: 1.2rem;
}

.level-details{
  text-decoration: none;
  color:black;
}